<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Gametrail - Cadastro de usuários</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/assets/css/login.css'>
</head>
<body>
    <div class="container-login">
        <div>
            <form class="gametrail-form" id="formulario-cadastro">
                <span>Crie a sua conta agora mesmo!</span>
                <div>
                    <input type="text" name="nome" id="nome" placeholder="Digite o seu nome" required="required">
                </div>
                <div>
                    <input type="text" name="email" id="email" placeholder="Digite o seu e-mail" required="required">
                </div>
                <div>
                    <input type="text" name="nick" id="nick" placeholder="Digite o seu nick" required="required">
                </div>
                <div>
                    <input type="password" name="senha" id="senha" placeholder="Digite a sua senha" required="required">
                </div>
                <div>
                    <input type="password" name="confirmarSenha" id="confirmarSenha" placeholder="Confirme a sua senha" required="required">
                </div>
                <a href="/">Clique aqui para fazer o login</a>
                <button type="submit" class="btn-gametrail">Cadastrar</button>
            </form>
        </div>
    </div>
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/cadastro.js"></script>
</body>
</html>