{{ define "cabecalho" }}
    <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Gametrail</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-principal" aria-controls="navbar-principal" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar-principal">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/home">Página Principal</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/perfil">Meu Perfil</a>
              </li>
              <li class="nav-item">
                <form class="form-inline my-2 my-lg-0" role="search" accept="/buscar-usuario">
                    <input id="usuario" class="form-control me-2" type="search" aria-label="Search" placeholder="Buscar usuários" name="usuario" required="required">
                  </form>
              </li>
           </ul>
          </div>
          <span class="navbar-text p-0">
            <a href="/logout">Sair</a>
       </span>
        </div>
      </nav>
{{ end }}