{{ define "curtidas" }}
    <i class="fas fa-heart curtir-publicacao"></i>
    <span>{{ .Curtidas }}</span>
{{ end }}

{{ define "editar" }}
<a href="/editar" style="text-decoration: none;" class="ml-2"><i class="fas fa-edit"></i> Editar</a>
{{ end }}

{{ define "deletar" }}
<a href="/deletar" style="text-decoration: none;" class="ml-2 text-danger"><i class="fas fa-trash text-danger"></i> Deletar</a>
{{ end }}

{{ define "cabecalho-publicacoes" }}
    <h1>{{ .Titulo }}</h1>
    <p>{{ .Conteudo }}</p>
    <a href="#">{{ .AutorNick }} - {{ .CriadoEm.Format "02/01/2006 15:04" }}</a>
    <hr>
{{ end }}

{{ define "publicacao-com-permissao" }}
    <div class="jumbotron" data-publicacao-id="{{ .ID }}">
        {{ template "cabecalho-publicacoes" . }}
        <p>
            {{ template "curtidas" .}}
            {{ template "editar" .}}
            {{ template "deletar" .}}
        </p>
    </div>
{{ end }}

{{ define "publicacao-sem-permissao" }}
    <div class="jumbotron" data-publicacao-id="{{ .ID }}">
        {{ template "cabecalho-publicacoes" . }}
        <p>
            {{ template "curtidas" .}}
        </p>
    </div>
{{ end }}